__pycache__/update.cpython-311.pyc
dist/main.exe
dist/Vatsim-Discord-RPC.exe
build/Vatsim-Discord-RPC/Analysis-00.toc
build/Vatsim-Discord-RPC/base_library.zip
build/Vatsim-Discord-RPC/EXE-00.toc
build/Vatsim-Discord-RPC/PKG-00.toc
build/Vatsim-Discord-RPC/PYZ-00.pyz
build/Vatsim-Discord-RPC/PYZ-00.toc
build/Vatsim-Discord-RPC/Vatsim-Discord-RPC.pkg
build/Vatsim-Discord-RPC/warn-Vatsim-Discord-RPC.txt
build/Vatsim-Discord-RPC/xref-Vatsim-Discord-RPC.html
build/Vatsim-Discord-RPC/localpycs/pyimod01_archive.pyc
build/Vatsim-Discord-RPC/localpycs/pyimod02_importers.pyc
build/Vatsim-Discord-RPC/localpycs/pyimod03_ctypes.pyc
build/Vatsim-Discord-RPC/localpycs/pyimod04_pywin32.pyc
build/Vatsim-Discord-RPC/localpycs/struct.pyc
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/warn-main.txt
build/main/xref-main.html
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/pyimod04_pywin32.pyc
build/main/localpycs/struct.pyc
Vatsim-Discord-RPC.spec
main.spec
